<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="/css/styles.css">
       <link rel="icon" href="/img/weather.png">
        <body>
       {{>header}}
          
           <h4>{{error}}</h4>
     {{>footer}}
        </body>
    </head>
</html>