<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="/css/styles.css">
        <title>{{title}} </title>
         <link rel="icon" href="/img/weather.png">
          </head>
        <body>
            <div class="main-content">
                <p>This is bulk page</p>
             {{>header}}
  

   <p><textarea maxlength="500" class="bulk" name="imei-bulk" rows="10" cols="50" id="imei-bulk" autocomplete="off" placeholder="
    IMEI or SERIAL (Maximum 15)"> </textarea> </p> 
 <p> <button id="btnImei-bulk">Submit</button></p>
            </div>
            
                <p id="message-1"></p>
                <p id="message-2"></p>
                <div id="result"></div>

                
                {{>footer}}
        </body>
   
        <script src="/js/bulk.js"> </script>
</html>