<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="/css/styles.css">
        <title>{{title}} </title>
                    <link rel="icon" href="/img/weather.png">
        <body>

            <div class="main-content">
                <div class="body">
              
            </div>
         {{>header}}
            </div>
            
       
           {{>footer}}
        </body>
    </head>
</html>