<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
        <title>{{title}}</title>
        <body>
          <div class="main-content">
            {{>header}}
            <p>This is a IMEI app</p>
            <form>
              <input name="imei" placeholder="Enter IMEI" id="tfImei"></input>
              <button id="btnImei">Submit</button>
            </form>

            <p id="message-1"></p>
            <p id="message-2"></p>

           <p> Wallet Money! </p>
           <p id="balance_copy">You currently have {{balance}}</p>
            <form>
              <input placeholder="Enter Amount" id="textfieldBalance"> </input>
              <button id="submitBalance">Add Money</button>
            </form>
          </div> 
            {{>footer}}
            <script src="/js/app.js"> </script>
        </body>
    </head>
</html>